[data-md-color-scheme="slate"] {
  /* --- Primary --- */
  --md-primary-fg-color: rgb(158, 147, 133);
  --md-primary-fg-color--light: rgba(58, 56, 55, 0);
  --md-primary-fg-color--dark: rgb(10, 9, 9);

  /* --- Accent --- */
  /* --md-accent-fg-color: rgb(118, 79, 40); */
  --md-accent-fg-color: rgb(158, 147, 133);
  --md-accent-fg-color--transparent: rgba(118, 79, 40, 0.15);

  /* --- Text --- */
  --md-default-fg-color: rgb(131, 132, 138);
  --md-typeset-color: rgb(131, 132, 138);
  --md-typeset-headline-color: rgb(131, 132, 138);
}

[data-md-color-scheme="slate"] .md-header {
  /* background-color: rgba(18, 17, 17, 0.7); */
  background-color: rgba(118, 79, 40, 0.15);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); /* Safari support */
}

[data-md-color-scheme="slate"] .md-typeset h1,
[data-md-color-scheme="slate"] .md-typeset h2,
[data-md-color-scheme="slate"] .md-typeset h3,
[data-md-color-scheme="slate"] .md-typeset h4,
[data-md-color-scheme="slate"] .md-typeset h5,
[data-md-color-scheme="slate"] .md-typeset h6 {
  /* Swap this with whatever color you want your titles to be */
  color: rgb(158, 147, 133);
}
/* ==========================================================================
   1. GITHUB ALERTS SYNTAX OVERRIDE (> [!NOTE])
   ========================================================================== */

/* The outer box box */
[data-md-color-scheme="slate"] div.markdown-alert.markdown-alert-note {
  border-left-color: rgb(118, 79, 40) !important;
  background-color: rgba(118, 79, 40, 0.15) !important;
}

/* The label title string */
[data-md-color-scheme="slate"]
  div.markdown-alert.markdown-alert-note
  p.markdown-alert-title {
  color: rgb(158, 147, 133) !important;
}

/* The SVG shape fill */
[data-md-color-scheme="slate"]
  div.markdown-alert.markdown-alert-note
  p.markdown-alert-title
  svg {
  fill: rgb(158, 147, 133) !important;
}

/* ==========================================================================
   2. TRADITIONAL ADMONITIONS SYNTAX OVERRIDE (!!! note)
   ========================================================================== */

/* The main note box wrapper */
[data-md-color-scheme="slate"] .md-content .admonition.note,
[data-md-color-scheme="slate"] .md-content details.note {
  border-left-color: rgb(118, 79, 40) !important;
  background-color: rgba(118, 79, 40, 0.15) !important;
}

/* Title bar overrides */
[data-md-color-scheme="slate"] .md-content .admonition.note > .admonition-title,
[data-md-color-scheme="slate"] .md-content details.note > summary {
  color: rgb(158, 147, 133) !important;
}

/* Left-hand side accent icon */
[data-md-color-scheme="slate"]
  .md-content
  .admonition.note
  > .admonition-title::before,
[data-md-color-scheme="slate"] .md-content details.note > summary::before {
  background-color: rgb(158, 147, 133) !important;
}
