/* div[data-ea-publisher] {
  --ea-background: #f4f5f7 !important;
}

div[data-ea-publisher].dark {
  --ea-dark-background: #1e2530 !important;
} */

.ethical-ads {
  background-color: #1e2530 !important;
}
